[url "git+ssh://kissiel@git.launchpad.net/"]
    insteadof = lp:
[url "git+ssh://kissiel@git.launchpad.net/~kissiel/+git/"]
    insteadof = lpme:
[url "ssh://git@github.com/"]
        insteadof = github:
[color]
	ui = auto
[advice]
	statusHints = false

[alias]
    bfm = !sh -c 'git checkout -b $1 master' -
    fom = fetch origin master:master
    cm = checkout master
    dc = diff --cached

[diff]
    tool = vimdiff
[difftool]
    prompt = false
